In [35]:
DROP TABLE IF EXISTS users,developers,games,developer_game,tags,friends,reviews,game_tag,game_interaction,game_user,purchases,transections;
DROP TYPE IF EXISTS rating_n,purchase_n,payment_n;


CREATE TYPE rating_n AS ENUM ('general','mature','sensitive');
CREATE TYPE purchase_n AS ENUM ('game_purchase','in_game_purchase','subscriptions','DLC','etc');
CREATE TYPE payment_n AS ENUM ('credit_card','debit_card','paypal','etc');

CREATE TABLE developers(
    did serial PRIMARY KEY,
    dname VARCHAR(50),
    descr TEXT
);
CREATE TABLE tags(
    tname VARCHAR(50) PRIMARY KEY,
    descr TEXT
);
CREATE TABLE users(
    uid serial PRIMARY KEY,
    uname VARCHAR(50),
    created_at TIMESTAMP,
    bio TEXT,
    birth_date DATE
);
CREATE TABLE friends(
    uid int not NULL,
    fid int not NULL,
    added_at TIMESTAMP,
    pending boolean,
    PRIMARY KEY(uid,fid),
    FOREIGN KEY (uid) REFERENCES users(uid),
    FOREIGN KEY (fid) REFERENCES users(uid)
);



CREATE TABLE games(
    gid serial PRIMARY KEY,
    did  INT REFERENCES developers(did),
    gname VARCHAR(50),
    descr TEXT,
    rating rating_n,
    release_at TIMESTAMP
);

CREATE TABLE reviews(
    rid serial PRIMARY KEY,
    uid int REFERENCES users(uid),
    gid int REFERENCES games(gid),
    rated float,
    reviewed_text TEXT,
    reviewed_at TIMESTAMP
);
CREATE TABLE game_tag(
    tname VARCHAR(50) not NULL,
    gid int NOT NULL,
    PRIMARY KEY(tname,gid),
    FOREIGN KEY (tname) REFERENCES tags(tname),
    FOREIGN KEY (gid) REFERENCES games(gid)
);
CREATE TABLE game_interaction(
    uid INT,
    gid INT,
    startplay_at TIMESTAMP,
    duration INTERVAL,
    PRIMARY key (uid,gid),
    FOREIGN KEY (uid) REFERENCES users(uid),
    FOREIGN KEY (gid) REFERENCES games(gid)
);
CREATE TABLE game_user(
    gid int,
    uid int,
    wishlist boolean,
    PRIMARY KEY (gid,uid),
    FOREIGN KEY (gid) REFERENCES games(gid),
    FOREIGN KEY (uid) REFERENCES users(uid)
);

CREATE TABLE purchases(
    pid serial PRIMARY KEY,
    gid INT REFERENCES games(gid),
    purchase_type purchase_n,
    price float,
    descr TEXT
);

CREATE TABLE developer_game (
    gid int ,
    did int ,
    PRIMARY KEY (gid,did),
    FOREIGN KEY (gid) REFERENCES games(gid),
    FOREIGN KEY (did) REFERENCES developers(did)
);

CREATE TABLE transections(
    tid serial PRIMARY KEY,
    uid int REFERENCES users(uid),
    receiver_uid int REFERENCES users(uid),
    pid int REFERENCES purchases(pid),
    payment_method payment_n,
    bought_at TIMESTAMP

);